@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  scroll-behavior: smooth;
}

body {

  background-color: #7FC8F8; /* Body background color */
  color: #000; /* Text color */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}


header{
    background-color: #FFE45E;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
header.remove{
    display: none;
}
.sidekoelements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 40;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.logo{
    position:relative;
    max-width: 261px;
    max-height: 100px;
    box-sizing: border-box;
    margin-bottom: 3px;

}
.logo.active{
    position: relative;
}
.search_box{
    position: relative;
    width: 100%;
    max-width: 840px;
    height: 45px;
    background: #F9F9F9;
    border: 1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
}
.search_box:hover input{
    width: 100%;
}
.search_box input{
    width: 100%;
    height: 45px;
    outline: 0;
    border: none;
    font-weight: 700;
    background:transparent;
    padding: 20px;
}
.search-btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.search-btn ion-icon{
    font-size: 1.5em;
    color: #000000;
    transition: .2s ease;
}
.navbar{
    background-color: #FFE45E;
    display: flex;

    gap: 30px;
    position: fixed;
    justify-content: center;
    top: 80px;
    width: 100%;
    padding: 20px;
    z-index: 99;
}
.navbar.remove{
    display: none;
}
.navbar .nav_element{
    position: relative;
}
.navbar a{
    
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
}
.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
#login-btn-popup,#login-btn-popup-sb{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF6392;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5em;
    color: #FF6392;
    font-weight: 500;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-btn-popup:hover{
    background: #F9F9F9;
    color: #C25278;
}
#login-btn-popup-sb:hover{
    background: #F9F9F9;
    color: #C25278;
}
#notification-btn,
#notification-btn-sb{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF6392;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5em;
    color: #FF6392;
    font-weight: 500;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
}
#notification-btn:hover{
    background: #F9F9F9;
    color: #C25278;
}
#notification-btn-sb:hover{
    background: #F9F9F9;
    color: #C25278;
}
#bookmark-btn,
#bookmark-btn-sb{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF6392;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5em;
    color: #FF6392;
    font-weight: 500;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bookmark-btn:hover{
    background: #F9F9F9;
    color: #C25278;
}
#bookmark-btn-sb:hover{
    background: #F9F9F9;
    color: #C25278;
}
#bookmark-btn-sb,
#notification-btn-sb,
#login-btn-popup-sb{
    margin-left: 20px;
}

.sidebar{
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0,0,0,.5);
  backdrop-filter:blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.5);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar.active{
  display: flex;
}

.sidebar a{
  position: relative;
  font-size: 1.1em;
  color: #F9F9F9;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.sidebar a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #F9F9F9;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}
.sidebar a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
#menu{
  width: 50px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: #FF6392;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  transition: .1s;
  display:none;
  position: relative;
}
#menu:hover{
  color: #C25278;
}
#close-sidebar{
  width: 50px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: #F9F9F9;
  font-weight: 500;
  margin-left:200px;
  transition: .2s;
}
#close-sidebar:hover{
  font-size: 2.3em; ;
}
.information{
    margin-top: 110px;
}
.upper{
    margin: 20px 20px;
    margin-left: 100px;
}
.upper .rating{
    color: #FFD700;
    font-size: 20px;
    margin-left: 10px;
}
.author{
    position: relative;
    display: flex;
    align-items: center;
}
.author .name{
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
}
.author .name::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ;
   
}
.author .name:hover::after {
    transform-origin: left;
    transform: scaleX(1);    
}
.author img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 3.5px solid transparent;
    background:linear-gradient(to right,#FFE45E, #F9F9F9,#FF6392) border-box;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    transition: transform .2s ease-out;
    cursor: pointer;
  }
.author img:hover{
    transform: scale(1.05);
  }
 .upper p{
    width: 70%;
    font-size: 1rem;
  color: #000;
  line-height: 1.5em;
  margin: 10px 10px;
}
.foodPic {
    margin-left: 100px;
    width: 500px;
    height: 305.5px;
    position: relative;
    overflow: hidden;
    background-color:transparent;
}

.foodPic img {

    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.foodPic .icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foodPic .icons ion-icon {
    font-size: 24px;
    color: #FF6392;
    background: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}


.foodPic .icons ion-icon:hover {
    color: #C25278;
}
.cookingDetails .info {
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Change to column */
    gap: 20px;
}

.cookingDetails .info li {
    display: flex; /* Add */
    align-items: center; /* Add */
    list-style-type: none; /* Remove the default bullet */
}

.cookingDetails .info ion-icon {
    font-size: 24px;
    color: #FF6392;
    background: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    margin-right: 10px; /* Add margin to separate icon and text */
}

.cookingDetails .info p {
    margin: 0; /* Remove default margin */
}

.steps{
    margin: 30px 30px;
    margin-left: 100px;
    display: flex;
    width: 90%;
    gap: 10%;
    
}
.video-container  {
    position: relative;
    display: flex;
    width: 90%;
    height: 240px; /* Adjust as needed *//* Adjust as needed */
}
.video-container .side{
    justify-content: center;
    align-items: center;
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    
}
.vidExpand{
    margin-top: 10px;
    padding: 10px 10px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF6392;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    gap: 10px;
    font-size: 1em;
    transition: transform .2s;
    color: #FF6392;
}
.vidExpand:hover{
    transform: translateY(3px);

}
.vidExpand ion-icon{
    font-size: 1.5em;
    color: #FF6392;
}
.video-container video {
    width: 320px;
    height: 240px;
}
.expand-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.steps .directions{
    width: 60%;
    margin: 0 0;
    padding: 20px;
    box-sizing: border-box;
}
.steps .directions ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    display: inline;

}
.steps .directions ul li{
    font-size: 1rem;
    color: #000;
    line-height: 1.5em;
    padding: 10px;
    overflow: hidden;
    margin: 10px 10px;
}
.steps .directions ul li span {
    position: relative;
    width: 180px;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    float: right;
    text-align: right;
}
.steps .directions ul li img {
    float: right;
    width: 100%;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}
.steps .directions ul li span button{
    position: absolute;
    align-items: center;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 999;
    background: #fff;
    color: #000;
    border-radius: 50%;
    border: none;
    outline: none;
}
.steps .directions ul li span button ion-icon{
    font-size: 15px;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
}
.steps .directions ul li p {
    margin: 0;
}
.steps .directions ul li h3 {
    margin: 0 0 10px 0;
}

.steps .ingredientsDetails {
    width: 30%;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
.steps .ingredientsDetails ul {
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    list-style-position: inside;
    display: inline; /* Ensure list bullets are inside the container */
}
.steps .ingredientsDetails h3{
    margin-left: 78%;
}
.steps .ingredientsDetails ul li {
    font-size: 1rem;
    color: #000;
    line-height: 1.5em;
    margin: 10px 0; /* Adjust margins as needed */
}
.ingredientsDetails .quantity {
    float: right;
    text-align: right;
}
.video-fullview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.video-fullview .close-btn {
    position: absolute;
    top: 30px;
    right: 16px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    font-size: 1.5em;
    font-weight: 500;
    transition: .5s;
    background: #444;
    color: white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    z-index:20 ;
}
.video-fullview .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.video-fullview video {
    max-width: 90%;
    max-height: 90%;
}
.step-fullview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.step-fullview .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.step-fullview .content img {
    max-width: 90%;
    max-height: 90%;
    padding: 30px 30px;
}

.step-fullview .content p {
    max-width: 45%;
    font-size: 1rem;
    color: #000;
    line-height: 1.5em;
    color: white;
}
.step-fullview .content h3{
    margin-left: -41%;
    color: white;
    margin-bottom: 20px;
}
.step-fullview .close-btn {
    position: absolute;
    top: 30px;
    right: 16px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    font-size: 1.5em;
    font-weight: 500;
    background: #444;
    color: white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    z-index:20 ;
}

.comment_reviewSection {
    margin-left: 100px;
    position: relative;
    width: 70%;
    background-color: #7FC8F8;
    border-radius: 10px;
    padding: 20px;
}

.questions-replies, .reviews {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
.search-bar {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
}

.inputPlace {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    width: 100%;
}

.button {
    padding: 10px 20px;
    background-color: #FF6392;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform .2s;
    
}
.button-review{
    padding: 10px 20px;
    background-color: #FF6392;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform .2s;
    margin-left: 12px;
}

.button:hover,.button-review:hover {
    background-color: #C25278;
    transform: translateX(-3px);
}

.question, .review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.question p, .review p {
    flex: 1;
    background-color: #f9f9f9;
    padding: 10px;
    padding-right: 2px;
    border-radius: 10px;
}

.stars {
    color: #FFD700;
    font-size: 20px;
    margin-left: 10px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.reviews {
    width: 100%;
}
.review-content{
    background-color: #fff;
    border-radius: 10px;
    padding: 3px 3px;
    width: 100%;
}
.review-content-user{
    background-color: #fff;
    border-radius: 10px;
    padding: 3px 3px;
    width: 81.93%;
}

.review-rating ion-icon {
    color: #ffcc00;
    margin-left: 10px;
    font-size: 20px;
    margin-right: -6px;
}



@media (max-width:1230px) {
    .hideOnMobile{
        display: none;
    }
    #menu{
        display: block;
    }
    .navbar{
     display: none;
    }
 }
 @media (max-width:431px) {
    .sidebar{
        width:100%
    }
    #close-sidebar{
        margin-left: 300px;
    }
 
   
 } 
 @media(max-width:1330px){
    .navbar a{
       
        font-size: 0.9em;
        
    }
   
 }
 
 @media (max-width:700px) {
        .logo{
        margin-left:10px;
 
        transition: .2s ease-out;
    }
    .logo.active{
        transform: translateX(-210px);
    }
   
 }