@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #7FC8F8;
    margin: 0;
    padding: 0;
}
.logo{
    max-width: 230px;
    margin-left: -25px;
    padding: 5px 10px;

}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #FFE45E;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.sidebar ul li.active,
.sidebar ul li:hover {
    background-color: #FEFF98;
}
.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}
.editProfile{
    display: block;
    max-width: 600px;
    margin: 0 auto;
}
.editProfile.active{
    display: none;
}
form p{
    font-size: 12px;
    color: #444;
    margin-left: 162px;
    margin-bottom: 20px;
    padding: 10px;
}
form h3{
    color: #444;
    margin-left: 168px;
}
.form-group {
    margin-bottom: 15px;
}
.img-group {
    justify-content: flex-start;    
}
.img__container img {
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: 190px;
    object-fit: cover;
    border: 3.5px solid transparent;
    background: linear-gradient(to right, #FFE45E, #F9F9F9, #FF6392) border-box;
    border-radius: 50%;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.text__container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.text__container h3 {
    margin: 0 0 5px 0;
    color: #000; /* Add spacing between the h3 and button */
}

.text__container button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #0095F6;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.text__container button:hover {
    color: white;
}
.flex-container {
    display: flex;
    align-items: center;
    margin-left:-50px ;
}
.flex-container label {
    width: 150px;
    margin-right: 20px;
    text-align: right;
}
.form-group input,
.form-group textarea,
.form-group select {
    width: calc(100% - 170px); /* Adjusted width to account for label */
    padding: 10px;
    border: 1px solid #444;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
}
.form-group input[disabled] {
    background-color: #444;
    cursor: not-allowed;
}
.bottombtn button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 100px;
    transition: transform .2s;
}
.bottombtn button:hover{
    background: #0088f6;
    transform: translateX(3px);
}
.bottombtn button.deactivate-btn {
    color: #0095F6;
    margin-left: 100px;
    border: none;
    background-color: transparent;
    outline: none;
}
.bottombtn button.deactivate-btn:hover{
    color: white;
}

/* Ensure the form is hidden initially */
.passwordForm {
    display: none;
    max-width: 600px;
    margin: 0 auto;
}
.passwordForm.active {
    display: block;
}

.card-body {
    padding-bottom: 2rem;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container label {
    width: 300px;
    margin-right: 20px;
    text-align: right;
}

.flex-container .password-field {
    width: calc(100% - 170px); /* Adjusted width to account for label */
    padding: 10px;
    border: 1px solid #444;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
}
.eye-off{
    width: 35px;
    cursor: pointer;
    margin-left: 605px;
    margin-right: 0;
    color: #FF6392;
    position: absolute;
}

.eye{
    width: 35px;
    cursor: pointer;
    margin-left: 605px;
    color: #FF6392;
    position: absolute;
    display: none; 
}
ion-icon{
    font-size: 1.5em;
}