@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  scroll-behavior: smooth;
} 
  
body {

  background-color: #7FC8F8; 
  color: #000; 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}


header{
    background-color: #FFE45E;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
header.remove{
    display: none;
}
.sidekoelements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 40;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.logo{
    position:relative;
    max-width: 261px;
    max-height: 100px;
    box-sizing: border-box;
    margin-bottom: 3px;

}
.logo.active{
    position: relative;
}
.search_box{
    position: relative;
    width: 100%;
    max-width: 840px;
    height: 45px;
    background: #F9F9F9;
    border: 1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
}
.search_box:hover input{
    width: 100%;
}
.search_box input{
    width: 100%;
    height: 45px;
    outline: 0;
    border: none;
    font-weight: 700;
    background:transparent;
    padding: 20px;
}
.navbar{
    background-color: #FFE45E;
    display: flex;

    gap: 30px;
    position: fixed;
    justify-content: center;
    top: 80px;
    width: 100%;
    padding: 20px;
    z-index: 99;
}
.navbar.remove{
    display: none;
}
.navbar .nav_element{
    position: relative;
}
.navbar a{
    
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
}
.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
#login-btn-popup,#login-btn-popup-sb{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF6392;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5em;
    color: #FF6392;
    font-weight: 500;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-btn-popup:hover{
    background: #F9F9F9;
    color: #C25278;
}
#login-btn-popup-sb:hover{
    background: #F9F9F9;
    color: #C25278;
}
#notification-btn,
#notification-btn-sb{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF6392;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5em;
    color: #FF6392;
    font-weight: 500;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
}
#notification-btn:hover{
    background: #F9F9F9;
    color: #C25278;
}
#notification-btn-sb:hover{
    background: #F9F9F9;
    color: #C25278;
}
#bookmark-btn,
#bookmark-btn-sb{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF6392;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5em;
    color: #FF6392;
    font-weight: 500;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bookmark-btn:hover{
    background: #F9F9F9;
    color: #C25278;
}
#bookmark-btn-sb:hover{
    background: #F9F9F9;
    color: #C25278;
}
#bookmark-btn-sb,
#notification-btn-sb,
#login-btn-popup-sb{
    margin-left: 20px;
}

.sidebar{
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0,0,0,.5);
  backdrop-filter:blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.5);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar.active{
  display: flex;
}

.sidebar a{
  position: relative;
  font-size: 1.1em;
  color: #F9F9F9;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.sidebar a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #F9F9F9;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}
.sidebar a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
#menu{
  width: 50px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: #FF6392;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  transition: .1s;
  display:none;
  position: relative;
}
#menu:hover{
  color: #C25278;
}
#close-sidebar{
  width: 50px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: #F9F9F9;
  font-weight: 500;
  margin-left:200px;
  transition: .2s;
}
#close-sidebar:hover{
  font-size: 2.3em; ;
}

.container {
   width: 70%;
   height: 100%;
   display: flex;
   max-width: 1200px;
   margin: 80px auto;
   padding: 20px;
}

.main-content {
   flex: 1;
   margin-left: 20px;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
   margin-top: 0;
}

#contact{
   column-gap: 30px;
   margin-bottom: 20px;
}
.main-content p{
   margin-top: 10px;
   margin-bottom: 10px;
}
.main-content ul {
   list-style: none;
   padding: 0;
   margin:0;
   display: flex;
   flex-direction:column ;
   width: 100%;
   align-items: flex-start;
   
}

.main-content ul li {
   margin-bottom: 10px;
   
   
}

.main-content a {
   color: #007bff;
}

.main-content a:hover {
   text-decoration: underline;
}
#work{
   margin-bottom: 10px;
}
#work .work_us{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
#work .work_us p {
   width: 60%;
   flex: 1;
}

#work .work_us .image-container {
   width: 35%;
   height: 300px;
   position: relative;
   overflow: hidden;
   
}
.image-container{
   position: relative;
   display: flex;
   flex-direction: column; 
   align-items: center;
   
}

#work .work_us img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 1.5rem;
   transition: opacity 1s ease-in-out;
}

#work .work_us img.hidden {
   opacity: 0;
}

#work .work_us img.visible {
   opacity: 1;
}

.info-container {

   text-align: center;
   margin-top: 10px;
   opacity: 0;
   transition: opacity 1s ease-in-out; 
   z-index: 9999;
   margin-top: 280px;
  
}

.image-container .visible + .info-container {
   display: block;
   opacity: 1; 
}

.hidden + .info-container {
   display: none;
   opacity: 0; 
}


.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow-y: none;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
 }

 .modal-content {
   background-color: #fefefe;
   margin: 28% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
 }

 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
  
 
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  @media screen and (max-width: 340px) {

     .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 90%;
      padding: 1rem;
    }
  }
  


 




@media (max-width:1230px) {
    .hideOnMobile{
        display: none;
    }
    #menu{
        display: block;
    }
    .navbar{
     display: none;
    }
 }
 @media (max-width:431px) {
    .sidebar{
        width:100%
    }
    #close-sidebar{
        margin-left: 300px;
    }
 
   
 } 
 @media(max-width:1330px){
    .navbar a{
       
        font-size: 0.9em;
        
    }
   
 }
 
 @media (max-width:700px) {
        .logo{
        margin-left:10px;
 
        transition: .2s ease-out;
    }
    .logo.active{
        transform: translateX(-210px);
    }
    #work .work_us {
      flex-direction: column;
  }

  #work .work_us p {
      width: 100%;
  }

  #work .work_us .image-container {
      width: 100%;
      height: auto;
  }

  #work .work_us img {
      position: relative;
  }
  .info-container {
   margin-top: 5px;
}
   
 }
}