{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookmark</title>
    <link rel="stylesheet" href="{% static 'css/bookmark.css' %}" />
  </head>
  <body>
    <header id="header">
        <a href="{% url 'index' %}"><img class="logo" src="{%static 'img/assests/flogo.png'%}"></a>
        <div class="search_box">
            <input type="text" placeholder="I am craving....">
            <a href="#"></a>
        </div>
        <div class="sidekoelements">
          {% if user.is_authenticated %}
              <button id="notification-btn" class="hideOnMobile"><ion-icon name="notifications"></ion-icon></button>
              <a href="{% url 'bookmark' %}"><button id="bookmark-btn" class="hideOnMobile"><ion-icon name="bookmark"></ion-icon></button></a>
              <div class="profile-icon" onclick="menuToggle()" >
                <img class="img__container" src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" alt="Profile Picture">
              </div>
          {% else %}
              <button id="login-btn-popup" class="hideOnMobile"><ion-icon name="person"></ion-icon></button>
          {% endif %}
          <button id="menu"><ion-icon name="menu-outline"></ion-icon></button>
      </div>        
    </header>
      <nav class="sidebar" id="sidebar">
        <button id="close-sidebar"><ion-icon name="close"></ion-icon></button>
        <a href="#">Popular</a>
        <a href="#">Meals</a>
        <a href="#">Occasions</a>
        <a href="#">Cuisines</a>
        <a href="#">Seasonal</a>
        <a href="#">Kitchen Wares</a>
        <a href="#">Contact Us</a>
        <button id="notification-btn-sb"><ion-icon name="notifications"></ion-icon></button>
        <a href="{% url 'bookmark' %}"><button id="bookmark-btn" class="hideOnMobile"><ion-icon name="bookmark"></ion-icon></button></a>
        <button id="login-btn-popup-sb"><ion-icon name="person"></ion-icon></button>
      </nav>
  
   
    <div class="author">
        <a href="{% url 'myprofile' %}"><img src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" class="avatar" alt="{{user.username}}"/></a>
        <a class="name" href="{% url 'myprofile' %}"><span class="name">{{user.username}}</span></a>
    </div>
    <span class="msg">Here are all of your favourite dishes.</span>
    <div class="container">
        <div class="card__container">
           <article class="card__article">
              <img src="{%static 'img/assests/1.jpg'%}" alt="image" class="card__img">

              <div class="card__data">
                 <h2 class="card__title">Pancake</h2>
                 <a href="#" class="card__button">Read More</a>
              </div>
              <div class="bookmark-icon" onclick="toggleBookmark(this)">
                <ion-icon name="bookmark" class="filled"></ion-icon>
                <ion-icon name="bookmark-outline" class="outline"></ion-icon>
              </div>
          </article>

           <article class="card__article">
              <img src="{%static 'img/assests/8.jpg'%}" alt="image" class="card__img">

              <div class="card__data">
                 <h2 class="card__title">Appetizer</h2>
                 <a href="#" class="card__button">Read More</a>
              </div>
              <div class="bookmark-icon" onclick="toggleBookmark(this)">
                <ion-icon name="bookmark" class="filled"></ion-icon>
                <ion-icon name="bookmark-outline" class="outline"></ion-icon>
              </div>
           </article>

           <article class="card__article">
              <img src="{%static 'img/assests/9.jpg'%}"  alt="image" class="card__img">

              <div class="card__data">
                 <h2 class="card__title">Tuna Fish</h2>
                 <a href="#" class="card__button">Read More</a>
              </div>
              <div class="bookmark-icon" onclick="toggleBookmark(this)">
                <ion-icon name="bookmark" class="filled"></ion-icon>
                <ion-icon name="bookmark-outline" class="outline"></ion-icon>
              </div>
           </article>
           <article class="card__article">
            <img src="{%static 'img/assests/10.jpg'%}"  alt="image" class="card__img">

            <div class="card__data">
               <h2 class="card__title">Sliced Tomato With Veggies</h2>
               <a href="#" class="card__button">Read More</a>
            </div>
            <div class="bookmark-icon" onclick="toggleBookmark(this)">
              <ion-icon name="bookmark" class="filled"></ion-icon>
              <ion-icon name="bookmark-outline" class="outline"></ion-icon>
            </div>
         </article>
         <article class="card__article">
            <img src="{%static 'img/assests/11.jpg'%}"  alt="image" class="card__img">

            <div class="card__data">
               <h2 class="card__title">Chocolate Cake</h2>
               <a href="#" class="card__button">Read More</a>
            </div>
            <div class="bookmark-icon" onclick="toggleBookmark(this)">
              <ion-icon name="bookmark" class="filled"></ion-icon>
              <ion-icon name="bookmark-outline" class="outline"></ion-icon>
            </div>
         </article>
         <article class="card__article">
            <img src="{%static 'img/assests/5.jpg'%}"  alt="image" class="card__img">

            <div class="card__data">
               <h2 class="card__title">Ham Burger</h2>
               <a href="#" class="card__button">Read More</a>
            </div>
            <div class="bookmark-icon" onclick="toggleBookmark(this)">
              <ion-icon name="bookmark" class="filled"></ion-icon>
              <ion-icon name="bookmark-outline" class="outline"></ion-icon>
            </div>
         </article>
        </div>
     </div>
    <!-- Hidden file input element -->
    <input type="file" id="file-input" style="display: none;">
    <script>
    function toggleBookmark(icon) {
        icon.classList.toggle('clicked');
    }
    </script>
    <script src ="js/profile.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   
  </body>
</html>