{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Bookmark</title>
    <link rel="stylesheet" href="{% static 'css/bookmark.css' %}" />
    <link rel="stylesheet" href="{%static 'css/feed.css'%}"/>
  </head>
  <body>
    <header id="header">
        <a href="{% url 'index' %}"><img class="logo" src="{%static 'img/assests/flogo.png'%}"></a>
        <div class="search_box">
            <input type="text" placeholder="I am craving....">
            <a href="#"></a>
        </div>
        <div class="sidekoelements">
          {% if user.is_authenticated %}
              <button id="notification-btn" class="hideOnMobile"><ion-icon name="notifications"></ion-icon></button>
              <a href="{% url 'bookmark' %}"><button id="bookmark-btn" class="hideOnMobile"><ion-icon name="bookmark"></ion-icon></button></a>
              <div class="profile-icon" onclick="menuToggle()" >
                <img class="img__container" src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" alt="Profile Picture">
              </div>
          {% else %}
              <button id="login-btn-popup" class="hideOnMobile"><ion-icon name="person"></ion-icon></button>
          {% endif %}
          <button id="menu"><ion-icon name="menu-outline"></ion-icon></button>
      </div>        
    </header>
      <nav class="sidebar" id="sidebar">
        <button id="close-sidebar"><ion-icon name="close"></ion-icon></button>
        <a href="#">Popular</a>
        <a href="#">Meals</a>
        <a href="#">Occasions</a>
        <a href="#">Cuisines</a>
        <a href="#">Seasonal</a>
        <a href="#">Kitchen Wares</a>
        <a href="#">Contact Us</a>
        <button id="notification-btn-sb"><ion-icon name="notifications"></ion-icon></button>
        <a href="{% url 'bookmark' %}"><button id="bookmark-btn" class="hideOnMobile"><ion-icon name="bookmark"></ion-icon></button></a>
        <button id="login-btn-popup-sb"><ion-icon name="person"></ion-icon></button>
      </nav>
  
   
    <div class="author">
      
        <a href="{% url 'myprofile' %}"><img src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" class="avatar" alt="{{user.username}}"/></a>
        <a class="name" href="{% url 'myprofile' %}"><span class="name">{{user.username}}</span></a>
    </div>
    <span class="msg">Here are all of your favourite dishes.</span>
    <div class="container">

      <div class="card__container" id="card-container">
        {% for recipe in bookmarked_recipes %}
        <article class="card__article" data-id="{{ recipe.id }}">
           <img src="{%if recipe.photo %}{{ recipe.photo.url }}{%else%}{%static 'img/assests/default_photo.png'%}{%endif%}" alt="{{ recipe.title }}" class="card__img">
           <div class="card__data">
              <h2 class="card__title">{{ recipe.title }}</h2>
              <a href="{% url 'recipe_detail' recipe.id %}" class="card__button">Read More</a>
           </div>
           <div class="bookmark-icon" data-postid="{{ recipe.id }}" data-csrf="{{ csrf_token }}">
            <ion-icon name="bookmark-outline" onclick="toggleBookmark(this)"></ion-icon>
            <input type="hidden" name="csrf_token" value="{csrf_token}">
        </div>
        </article>
        {% endfor %}
     </div>
  </div>
    <!-- Hidden file input element -->
    <input type="file" id="file-input" style="display: none;">
    <!--<script>
      document.addEventListener('DOMContentLoaded', () => {
        const bookmarks = JSON.parse(localStorage.getItem('bookmarks')) || [];
        const bookmarkIcons = document.querySelectorAll('.bookmark-icon');

        bookmarkIcons.forEach(icon => {
            const card = icon.closest('.card__article');
            const cardId = card.getAttribute('data-id');
            if (bookmarks.includes(cardId)) {
                icon.classList.add('clicked');
            }
        });
    });

    function toggleBookmark(icon) {
        const card = icon.closest('.card__article');
        const cardId = card.getAttribute('data-id');
        let bookmarks = JSON.parse(localStorage.getItem('bookmarks')) || [];

        if (icon.classList.contains('clicked')) {
            icon.classList.remove('clicked');
            bookmarks = bookmarks.filter(id => id !== cardId);
        } else {
            icon.classList.add('clicked');
            bookmarks.push(cardId);
        }

        localStorage.setItem('bookmarks', JSON.stringify(bookmarks));
    }
    </script>

    </script>-->
    <script src="{% static 'js/bookmark.js' %}"></script>
    <script src ="js/profile.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   
  </body>
</html>