{% load static %}
{% load socialaccount %}
{% load custom_filters %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Cookeryकाँ</title>
    <link rel="icon" type="image/x-icon" href="{%static 'img/assets/logo.png'%}">
  <!-- Swiper CSS -->
    <link rel="stylesheet" href="{%static 'css/swiper-bundle.min.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}"/>
    <link rel="stylesheet" href="{%static 'css/recipie.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/feed.css'%}"/>
{% comment %} 
     <iframe name="recipeFrame" id="recipeFrame" src="" frameborder="0"
        width="800px"
        height="530px">
    </iframe>  {% endcomment %}
</head>
<body>
    <header id="header">
        <a href="#"><img class="logo" src="{%static 'img/assests/flogo.png'%}"></a>
        <div class="search_box">
          <form method="get" action="{%url 'search'%}">
              <input type="text" placeholder="I am craving...." name="query" required>
              <button class="search" type="submit"><ion-icon name="search"></ion-icon></button>
              
          </form>
          <!-- <ul id="suggestions" style="border: 1px solid #ccc; display: none;"></ul> -->
      </div>
        <div class="sidekoelements">
          {% if user.is_authenticated %}
          <button id="notification-btn" class="hideOnMobile" onclick="toggleNotifications()">
            <ion-icon name="notifications"></ion-icon>
            <span id="notification-badge" class="badge">{{notification_count}}</span> 
          </button>
              <a href="{% url 'bookmark' %}"><button id="bookmark-btn" class="hideOnMobile"><ion-icon name="bookmark"></ion-icon></button></a>

              <div class="profile-icon" onclick="toggleMenu()">
                <img class="img__container" src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" alt="Profile Picture">
            </div>

          {% else %}
              <button id="login-btn-popup" class="hideOnMobile"><ion-icon name="person"></ion-icon></button>
          {% endif %}
          <button id="menu"><ion-icon name="menu-outline"></ion-icon></button>
      </div>
        
    </header>
    <div id="notifications-dropdown" class="notifications-dropdown">
      <div class="notification-header">
          <h3>Notifications</h3>
          <button onclick="toggleNotifications()"><ion-icon name="close"></ion-icon></button>
      </div>
      <div class="notification-content">
          <ul>
            {% for notification in notifications %}
            <li class="notification-item">
                {% if notification.notification_type == 1 %}
                    <ion-icon name="heart"></ion-icon>
                    <span>{{ notification.message}}</span>
                {% elif notification.notification_type == 2 %}
                    <ion-icon name="alert-circle"></ion-icon>
                    <span>{{ notification.message}} : "{{ notification.text_preview }}"</span>
                {% elif notification.notification_type == 3 %}
                    <ion-icon name="person-add"></ion-icon>
                    <span>{{ notification.sender.username }} followed you</span>
                {% endif %}
                <small>{{ notification.time_ago}}</small>
            </li>
        {% endfor %}
          </ul>
      </div>
  </div>
    

        <nav class="navbar" id="navbar">
            <div class="nav_element">
                <a href="#"class="">Popular</a>
                    <ul class="dropdown">
                        <li><a href="Addreceipepage.html" target="recipeFrame">Add Recipe</a></li>
                        <li><a href="#">Link 2</a></li>
                    </ul>
    
            </div>
            <div class="nav_element">
                <a href="#"class="">Meals</a> 
                <ul class="dropdown">
                    <li><a href="{% url 'category_recipes' 'breakfast' %}">Breakfast</a></li>
                    <li><a href="{% url 'category_recipes' 'lunch' %}">Lunch</a></li>
                    <li><a href="{% url 'category_recipes' 'dinner' %}">Dinner</a></li>
                </ul>
            </div>
            <div class="nav_element">
                <a href="#"class="">Ocassions</a>
                <ul class="dropdown">
                    <li><a href="{% url 'category_recipes' 'dashain' %}">Dashain</a></li>
                    <li><a href="{% url 'category_recipes' 'tihar' %}">Tihar</a></li>
                    <li><a href="{% url 'category_recipes' 'maghi' %}">Maghi</a></li>
                    <li><a href="{% url 'category_recipes' 'birthday' %}">Birthday</a></li>
                    <li><a href="{% url 'category_recipes' 'new year' %}">New Year</a></li>
                </ul>
            </div>
            <div class="nav_element">    
                <a href="#"class="">Cusines</a>
                <ul class="dropdown">
                    <li><a href="{% url 'category_recipes' 'nepali' %}">Nepali</a></li>
                    <li><a href="{% url 'category_recipes' 'indian' %}">Indian</a></li>
                    <li><a href="{% url 'category_recipes' 'chinese' %}">Chinese</a></li>
                    <li><a href="{% url 'category_recipes' 'italian' %}">Italian</a></li>
                </ul>
            </div>
            <div class="nav_element">
                <a href="#"class="">Seasonal</a>
                <ul class="dropdown">
                    <li><a href="{% url 'category_recipes' 'spring' %}">Spring</a></li>
                    <li><a href="{% url 'category_recipes' 'fall' %}">Fall</a></li>
                    <li><a href="{% url 'category_recipes' 'summer' %}">Summer</a></li>
                    <li><a href="{% url 'category_recipes' 'winter' %}">Winter</a></li>
                </ul>
            </div>
            <div class="nav_element">
                <a href="{% url 'kitchenware'%}"class="">Kitchen Wares</a>
                <ul class="dropdown">
                  <li><a href="#">Prep Tool & Essentials</a></li>
                  <li><a href="#">Cookware and Bakeware</a></li>
                  <li><a href="#">Cooking Tool & Kitchen Utensils</a></li>
                  <li><a href="#">Appliances</a></li>
                  <li><a href="#">Other Kitchen Essentials</a></li>
                </ul>
            </div>
            <div class="nav_element">    
                <a href="{% url 'contactus' %}"class="">Contact Us</a>
            </div>
            
        </nav>
        <nav class="sidebar" id="sidebar">
            <button id="close-sidebar"><ion-icon name="close"></ion-icon></button>
            <a href="#">Popular</a>
            <a href="#">Meals</a>
            <a href="#">Ocassions</a>
            <a href="#">Cusines</a>
            <a href="#">Seasonal</a>
            <a href="#">Kitchen Wares</a>
            <a href="#">Contact Us</a>
            <button id="notification-btn-sb"><ion-icon name="notifications"></ion-icon></button>
            <a href="{% url 'bookmark' %}"><button id="bookmark-btn"><ion-icon name="bookmark"></ion-icon></button></a>
            <button id="login-btn-popup-sb"><ion-icon name="person"></ion-icon></button>
        </nav>
    <div class="wrapper">
        <span >
            <button class="icon-close"><ion-icon name="close"></ion-icon></button>
        </span>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="form-box login ">
            <h2>Login</h2>
            <form action="{% url 'index' %}" method ="post">
              {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" class="password-field" id="password" name="password" required>
                    <ion-icon name="eye-off" class="eye-off"></ion-icon>
                    <ion-icon name="eye" class="eye"></ion-icon>
                    <label>Password</label>
                </div>
                <div class="remember-forget">
                    <label>
                        <input type="checkbox">
                        Remember Me
                    </label>
                    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                </div>
                <div type="submit" name ="login" class="button-container-2">
                  <span class ="mas">LOGIN</span>
                  <button type="submit" name ="login" class="btn">LOGIN</button>
                </div>
                <div class="continue-with">
                    <p> OR CONTINUE WITH</p>
                    <button type="button" class="facebook-sign-in" onclick="window.location.href='{% provider_login_url 'facebook' %}'">
                      <ion-icon name="logo-facebook"class="logo-app"></ion-icon></button>
                    <button type="button" class="google-sign-in" onclick="window.location.href='{% provider_login_url 'google' %}'">
                      <ion-icon name="logo-google"class="logo-app"></ion-icon></button>
                </div>
                <div class="login-register">
                    <p>Don't have an account?
                        <a href="#"class="register-link">Register</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Registration</h2>
            <form action="{% url 'index' %}" method ="post">
              {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name ="username" id ="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name ="email" id ="email"  required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" class="password-field" name ="password1" id ="password1" required>
                    <ion-icon name="eye-off" class="eye-off"></ion-icon>
                    <ion-icon name="eye" class="eye"></ion-icon>
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" class="password-field" name ="password2" id ="password2" required>
                    <ion-icon name="eye-off" class="eye-off"></ion-icon>
                    <ion-icon name="eye" class="eye"></ion-icon>
                    <label>Confirm Password</label>
                </div>
                <div class="remember-forget">
                    <label>
                        <input type="checkbox" required>
                        I agree to all terms & conditions
                    </label>
                </div>
                <div class="continue-with">
                    <p> OR CONTINUE WITH</p>
                    <button type ="button" class ="facebook-sign-in" onclick="window.location.href='{% provider_login_url 'facebook' %}' ">
                      <ion-icon name="logo-facebook"class="logo-app"></ion-icon></button>
                    <button type ="button" class ="google-sign-in" onclick="window.location.href='{% provider_login_url 'google' %}' ">
                        <ion-icon name="logo-google"class="logo-app"></ion-icon></button>
                </div>
                
                <div class="button-container-2">
                  <span class="mas">REGISTER</span>
                  <button type="submit" name="register">REGISTER</button>
                </div>
                <div class="login-register">
                    <p>Already have an account?
                        <a href="#" id="login123" class="login-link">Login</a>
                    </p>
                </div>
            </form>
        </div>
        
    </div>
    <div class="stories-container">
      <div class="content">
          <div class="prev-btn"><ion-icon name="chevron-back-outline" class="prev-next-btn"></ion-icon></div>
          <div class="stories">
              <div class="create-story" id="create-story">
                  <div class="create-story-content">
                      <img id="profile-picture" src="{{ user.profile.picture.url }}" alt="Profile Picture">
                      <div class="create-story-btn">
                          <ion-icon name="add-circle-outline" class="create-icon"></ion-icon>
                          <span>Create story</span>
                      </div>
                      <input type="file" id="story-upload" accept="image/*" style="display: none;">
                  </div>
              </div>
              <div class="story">
                    <img src="{%static 'img/assests/6.jpg'%}" alt="">
                    <div class="author">Author</div>
              </div>
          </div>
          <div class="next-btn active"><ion-icon name="chevron-forward-outline" class="prev-next-btn"></ion-icon></div>
      </div>
  </div>

  <!-- Fullview Modal -->
    <div class="stories-fullview">
      <div class="story-close-btn"><ion-icon name="close-outline"></ion-icon></div>
      <div class="content">
        <div class="prev-btn"><ion-icon name="chevron-back-outline" class="prev-next-btn"></ion-icon></div>
        <div class="story">
          <img src="images/assests/5.jpg" alt="">
          <div class="author">Author</div>
        </div>
        <div class="next-btn "><ion-icon name="chevron-forward-outline" class="prev-next-btn"></ion-icon></div>
      </div>
    </div>

     <div class="container swiper">
      <div class="slide-container">
        <span class="Recipe_day">Recipes of the day</span>
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
            <div class="image-box">
              <img src="{%static 'img/assests/1.jpg'%}" alt="" />
            </div>
            <div class="profile-details">
              <img src="{%static 'img/profile/profile1.jpg'%}" alt="" />
              <div class="name-job">
                <h3 class="name">David Cardlos</h3>
                <h4 class="job">Full Stack Developer</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
              <img src="{%static 'img/assests/2.jpg'%}" alt="" />
            </div>
            <div class="profile-details">
              <img src="{%static 'img/profile/profile2.jpg'%}" alt="" />
              <div class="name-job">
                <h3 class="name">Siliana Ramis</h3>
                <h4 class="job">Photographer</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
              <img src="{%static 'img/assests/3.jpg'%}" alt="" />
            </div>
            <div class="profile-details">
              <img src="{%static 'img/profile/profile3.jpg'%}" alt="" />
              <div class="name-job">
                <h3 class="name">Richard Bond</h3>
                <h4 class="job">Data Analyst</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
              <img src="{%static 'img/assests/4.jpg'%}" alt="" />
            </div>
            <div class="profile-details">
              <img src="{%static 'img/profile/profile4.jpg'%}" alt="" />
              <div class="name-job">
                <h3 class="name">Priase</h3>
                <h4 class="job">App Developer</h4>
              </div>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
              <img src="{%static 'img/assests/6.jpg'%}" alt="" />
            </div>
            <div class="profile-details">
              <img src="{%static 'img/profile/profile5.jpg'%}" alt="" />
              <div class="name-job">
                <h3 class="name">James Laze</h3>
                <h4 class="job">Blogger</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            <div class="user-info">
                <h2>{{user.username}}</h2>
            </div>
            <hr>
            <a href="{% url 'myprofile' %}" class="sub-menu-link">
                <ion-icon name="person"></ion-icon>
                <p>My Profile</p>
                <span>></span>
            </a>
            <a href="{% url 'editprofile' %}" class="sub-menu-link">
                <ion-icon name="pencil"></ion-icon>
                <p>Edit Profile</p>
                <span>></span>
            </a>
            <a href="" class="sub-menu-link">
                <ion-icon name="cog"></ion-icon>
                <p>Settings</p>
                <span>></span>
            </a>
            <a href="{% url 'logout' %}" class="sub-menu-link">
                <ion-icon name="log-out"></ion-icon>
                <p>Logout</p>
                <span>></span>
            </a>
        </div>
    </div>
    <script>
        // Function to toggle the menu visibility
        function toggleMenu() {
            console.log('Profile icon clicked'); // Debugging log
            let subMenu = document.getElementById('subMenu');
            subMenu.classList.toggle('open-menu');
        }
    </script>
  <div id="feed">
    <div class="container">
      <h1>NEWS FEED</h1>
      <div class="content">
          <div class="feed">
              {% for post in posts %}
                  <div class="post" id="post-{{ post.pk }}">
                      <div class="post-header">
                          <div class="photo">
                              <a href="{% url 'otherprofile' post.user.id %}">
                                  <img src="{% if post.user.profile.picture %}{{ post.user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" alt="user profile">
                              </a>
                          </div>
                          <div class="user-info">
                              <a href="{% url 'otherprofile' post.user.id %}">
                                  <span class="username">{{post.user.username}}</span>
                              </a>
                              <div class="time">
                              <span class="clock"></span>
                              <span class="posttime">{{post.posted}}</span>
                              </div>
                          </div>
                          <div class="bookmark-icon" id="bookmark-{{post.pk}}" data-postid="{{ post.pk }}" data-csrf="{{ csrf_token }}">
                            <ion-icon name="bookmark-outline" onclick="toggleBookmark(this)"></ion-icon>
                        </div>
                        
                          
                      </div>
                      <div class="post-content">
                          <a href="{% url 'recipe_detail' post.pk %}">
                              {% if post.photo %}
                                  <img src="{{ post.photo.url }}" alt="post image" class="post-image">
                              {% else %}
                                  <img src="{% static 'img/assests/default_photo.png' %}" alt="default post image" class="post-image">
                              {% endif %}
                          </a>
                      </div>
                      <div class="post-interactions">
                          <div class="reaction">
                              <button class="love-button" id="love-{{ post.pk }}" data-postid="{{ post.pk }}">
                                  <ion-icon class="heart-fill" name="{% if post.pk in liked_posts %}heart{% else %}heart-outline{% endif %}"></ion-icon>
                              </button>
                              <span class="reaction_count" id="reaction_count-{{ post.pk }}">{{ post.like_count }}</span>
                          </div>
                          <button id="comment">
                              <img src="{% static 'img/reactions/comment.png' %}">
                          </button>
                          <button id="share">
                              <img src="{% static 'img/reactions/share.png' %}" alt="">
                          </button>
                          
                          
                      </div>
                      <div class="post-description">
                        <div class="aba">
                            <div class="recipeinfo">
                                <span><a href="{% url 'recipe_detail' post.pk %}">{{ post.name }}</a></span>
                                <p>{{ post.description }}</p>
                            </div>
                            <div class="rating_section">
                                {% for star in post.average_rating|times %}
                                    <ion-icon name="star"></ion-icon>
                                {% endfor %}
                            </div>
                            <div class="ratingValue" id="ratingValue-{{post.pk}}"></div>
                        </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <div class="sidebar_right">
              <div class="advertisement">
                  <input type="file" accept="image/*,video/*">
              </div>
              <div class="suggestions">
                  <h3>Suggested for you</h3>
                  <div class="suggestion">
                      <img src="suggested_user.jpg" alt="Suggested Profile" class="profile-pic">
                  </div>
                  <div class="suggestion">
                      <img src="suggested_user.jpg" alt="Suggested Profile" class="profile-pic">
                  </div>
                  <div class="suggestion">
                      <img src="suggested_user.jpg" alt="Suggested Profile" class="profile-pic">
                  </div>
                  <div class="suggestion">
                      <img src="suggested_user.jpg" alt="Suggested Profile" class="profile-pic">
                  </div>
              </div>
              <div class="footer">
                  <a href="#">About</a> · 
                  <a href="#">Terms</a> · 
                  <a href="#">Advertise</a> · 
                  <a href="#">Privacy</a> · 
                  <a href="#">Help</a>
              </div>
          </div>
      </div>
  </div>
  </div>


  <script>
    // Function to toggle the menu visibility
    function toggleMenu() {
        console.log('Profile icon clicked'); // Debugging log
        let subMenu = document.getElementById('subMenu');
        subMenu.classList.toggle('open-menu');
    }
</script>

    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="{%static 'js/swiper-bundle.min.js'%}"></script>
    <script src="{%static 'js/script.js'%}"></script>
    <script src="{%static 'js/story.js'%}"></script>
    <script src="{% static 'js/feed.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>
