{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Profile Page</title>

    <link rel="stylesheet" href="{% static 'css/profiledrop.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <style>
        iframe {
            aspect-ratio: 16/9;
            width: 70%;
            height: 80%;
            transform: scale(0);
            transition: transform 0.4s ease-in-out;
            position: fixed;
            border: solid 1px black;
            border-radius: 20px;
            top: 15%;
            left: 17%;
            z-index: 1000;
        }
        iframe.active {
            transform: scale(1);
        }
        #pppp {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
        .header__wrapper .cols__container .left__col .img__container {
            position: absolute;
            width: 130px;
            height: 130px;
            top: -60px;
            left: 50%;
            cursor: pointer;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
    <iframe id="recipeIframe" src="http://localhost:8000/addrecipe/" frameborder="0"></iframe>    
    <header id="header">
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/assests/flogo.png' %}" alt="Logo"></a>
        <div class="search_box">
            <input type="text" placeholder="I am craving....">
            <button class="search-btn"><ion-icon name="search"></ion-icon></button>
            <a href="#"></a>
        </div>
        <div class="sidekoelements">
            {% if user.is_authenticated %}
                <button id="notification-btn" class="hideOnMobile"><ion-icon name="notifications"></ion-icon></button>
                <a href="{% url 'bookmark' %}"><button id="bookmark-btn" class="hideOnMobile"><ion-icon name="bookmark"></ion-icon></button></a>
                <div class="profile-icon" onclick="menuToggle()">
                    <img class="img__container" id="pppp" src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" alt="Profile Picture">
                </div>
            {% else %}
                <button id="login-btn-popup" class="hideOnMobile"><ion-icon name="person"></ion-icon></button>
            {% endif %}
            <button id="menu"><ion-icon name="menu-outline"></ion-icon></button>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <button id="close-sidebar"><ion-icon name="close"></ion-icon></button>
        <a href="#">Popular</a>
        <a href="#">Meals</a>
        <a href="#">Occasions</a>
        <a href="#">Cuisines</a>
        <a href="#">Seasonal</a>
        <a href="#">Kitchen Wares</a>
        <a href="#">Contact Us</a>
        <button id="notification-btn-sb"><ion-icon name="notifications"></ion-icon></button>
        <a href="{% url 'bookmark' %}"><button id="bookmark-btn"><ion-icon name="bookmark"></ion-icon></button></a>
        <button id="login-btn-popup-sb"><ion-icon name="person"></ion-icon></button>
    </nav>

    <div class="header__wrapper">
        <div class="cols__container">
            <div class="left__col">
                <div class="img__container">
                    <img src="{{ user.profile.picture.url }}" alt="{{ user.username }}"/>
                </div>
                <h2>{{ user.username }}</h2>
                <p>{{ user.profile.bio }}</p>
                <p>{{ user.email }}</p>

                <ul class="about">
                    <li><span>{{followers_count}}</span> Followers</li>
                    <li><span>{{following_count}}</span> Following</li>
                </ul>

                <div class="content">
                    <p>{{ user.profile.about }}</p>
                    <ul>
                        <ion-icon name="logo-twitter"></ion-icon>
                        <ion-icon name="logo-facebook"></ion-icon>
                    </ul>
                </div>
            </div>
            <div class="right__col">
                <nav>
                    <button onclick="location.href='{% url 'editprofile' %}'">Edit Profile</button>
                    <button>Manage Contents</button>
                </nav>

                <div class="post">
                    {% for recipe in recipes %}
                        <article class="card__article">
                            {% if recipe.photo %}
                                <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}" class="card__img">
                            {% else %}
                            <img src="{% static 'img/assests/default_photo.png' %}" alt="{{ recipe.title }}" class="card__img">
                            {% endif %}

                            <div class="card__data">
                                <h2 class="card__title">{{ recipe.title }}</h2>
                                <span class="card__description">{{ recipe.description }}</span>
                                <a href="{% url 'recipe_detail' recipe.pk %}" class="card__button">Start Cooking</a>
                            </div>
                        </article>
                    {% empty %}
                        <p>You have not posted any recipes yet.</p>
                    {% endfor %}
                    <div class="uploadcontent">
                        <img id="RecipeLogo" src="{% static 'img/assests/icons8-recipe-50.png' %}" alt="Photo" />
                        <button id="uploadRecipe" type="button">Add Recipe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="action">
        <div id="profiledropdown" class="menu">
            <h3>{{ user.username }}</h3>
            <ul>
                <li>
                    <ion-icon name="person"></ion-icon>
                    <a href="{% url 'myprofile' %}">My Profile</a>
                </li>
                <li>
                    <ion-icon name="pencil"></ion-icon>
                    <a href="{% url 'editprofile' %}">Edit Profile</a>
                    <span>></span>
                </li>
                <li>
                    <ion-icon name="person-add"></ion-icon>
                    <a href="#">Add Account</a>
                    <span>></span>
                </li>
                <li>
                    <ion-icon name="people"></ion-icon>
                    <a href="#">Switch Accounts</a>
                    <span>></span>
                </li>
                <li>
                    <ion-icon name="cog"></ion-icon>
                    <a href="#">Settings</a>
                    <span>></span>
                </li>
                <li>
                    <ion-icon name="log-out"></ion-icon>
                    <a href="{% url 'logout' %}">Logout</a>
                    <span>></span>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active');
        }
    </script>
    <!-- Hidden file input element -->
    <input type="file" id="file-input" style="display: none;">
    <script src="{% static 'js/profile.js' %}"></script>
    <script>
        window.addEventListener('message', function(event) {
            if (event.data === 'closeAndRedirect') {
                // Close the iframe and redirect to the recipe details page
                document.getElementById('recipe-iframe').style.display = 'none';
                window.location.href = 'http://localhost:8000/recipe/<int:pk>/'; // Change this to the actual path of your recipe details page
            }
        }); 
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
