{% load static %}
{% load custom_filters %}
{% load star_rating %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }}</title>
    <link rel="stylesheet" href="{% static 'css/recipe_detail.css' %}" />
    <style>
        #pppp {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header id="header">
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/assests/flogo.png' %}"></a>
        <div class="search_box">
            <form method="get" action="{%url 'search'%}">
                <input type="text" placeholder="I am craving...." name="query" required>
                <button class="search" type="submit"><ion-icon name="search"></ion-icon></button>
                
            </form>
            <!-- <ul id="suggestions" style="border: 1px solid #ccc; display: none;"></ul> -->
        </div>
        <div class="sidekoelements">
            {% if user.is_authenticated %}
                <button id="notification-btn" class="hideOnMobile"><ion-icon name="notifications"></ion-icon></button>
                <a href="{% url 'bookmark' %}"><button id="bookmark-btn" class="hideOnMobile"><ion-icon name="bookmark"></ion-icon></button></a>
                <div class="profile-icon" onclick="toggleMenu()">
                    <img class="img__container" id="pppp" src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" alt="Profile Picture">
                </div>
            {% else %}
                <button id="login-btn-popup" class="hideOnMobile"><ion-icon name="person"></ion-icon></button>
            {% endif %}
            <button id="menu"><ion-icon name="menu-outline"></ion-icon></button>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <button id="close-sidebar"><ion-icon name="close"></ion-icon></button>
        <a href="#">Popular</a>
        <a href="#">Meals</a>
        <a href="#">Ocassions</a>
        <a href="#">Cusines</a>
        <a href="#">Seasonal</a>
        <a href="#">Kitchen Wares</a>
        <a href="#">Contact Us</a>
        <button id="notification-btn-sb"><ion-icon name="notifications"></ion-icon></button>
        <a href="{% url 'bookmark' %}"><button id="bookmark-btn"><ion-icon name="bookmark"></ion-icon></button></a>
        <button id="login-btn-popup-sb"><ion-icon name="person"></ion-icon></button>
    </nav>
    <div class="information"></div>
        <div id="google_translate_element"></div>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
           function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'om',
            includedLanguages: 'en,ne,hi,zh-CN,es,ar,nl,pt,de,fr',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
        }
        </script>
        <div class="upper">
            <h1 class="title">{{ recipe.name }}</h1>
            <div class="rating">
                {% for star in recipe.average_rating|times %}
                    <ion-icon name="star"></ion-icon>
                {% endfor %}
                

            </div>
            <div class="author">
                <a href="{% url 'otherprofile' recipe.user.id %}"><img src="{{ recipe.user.profile.picture.url }}" alt="profile" class="avatar"></a>
                <a class="name" href="{% url 'otherprofile' recipe.user.id %}"><span class="name">{{ recipe.user.username }}</span></a>
            </div>
            <p class="description">{{ recipe.description }}</p>
        </div>
        {% if recipe.photo %}
        <div class="foodPic">

                <img src="{{ recipe.photo.url }}" alt="{{ recipe.name }}">
            
            <div class="icons">
                <ion-icon name="bookmark"></ion-icon>
                <ion-icon name="share-social"></ion-icon>
            </div>
            
        </div>
        {% endif %}
        <div class="cookingDetails">
            <div class="info">
                <li>
                    <ion-icon name="timer"></ion-icon>
                    <p>Preparation Time: {{ recipe.preparation_time }} Minutes</p>
                </li>
                <li>
                    <ion-icon name="timer"></ion-icon>
                    <p>Cooking Time: {{ recipe.cooking_time }} Minutes</p>
                </li>
                <li>
                    <ion-icon name="restaurant"></ion-icon>
                    <p>Ingredients: {{ ingredients|length }}</p>
                </li>
            </div>
        </div>
        </div>
     <div class="steps">
        <div class="directions">
            <h2>PREPARATION</h2>
            <ul>
                {% if recipe.video %}
                <li>
                    <div class="video-container">
                        <video src="{{ recipe.video.url }}" autoplay loop muted></video>
                        <div class="side">
                            <p> Make the recipe with us</p>
                            <button class="vidExpand"><ion-icon name="play-circle-outline"></ion-icon>Watch</button>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% for direction in directions %}
                    <li>
                        <h3>Step {{ forloop.counter }}</h3>
                        <span class="step-content">
                            {% if direction.photo %}
                                <img src="{{ direction.photo.url }}" alt="Step {{ forloop.counter }}"
                                data-step="{{ forloop.counter }}"
                                data-photo="{{ direction.photo.url }}"
                                data-step-text="{{ direction.step }}">
                                <button class="expand"><ion-icon name="expand-outline"></ion-icon></button>
                            {% endif %}
                        </span>
                        <p>{{ direction.step }}</p>
                    </li>
                    {% endfor %}
            </ul>
        </div>
        <div class="ingredientsDetails">
            <h2>INGREDIENTS:</h2>
            <h3>Quantity</h3>
            <ul>
                {% for ingredient in ingredients %}
                <li>{{ ingredient.name }}<span class="quantity">{{ ingredient.quantity }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>



    <div class="comment_reviewSection">
        <div class="questions-replies">
            <h2>Questions and Replies</h2>
            <div class="add-comment search-bar">
                {%if user.is_authenticated %}
                <img src="{{user.profile.picture.url}}" alt="" class="avatar">
                <form id="comment-form" method="post" action="{% url 'add_comment' recipe.pk %}">
                    {% csrf_token %}
                    <input id="new-comment" name="text" class="inputPlace" type="text" placeholder="Ask a question...">
                    <button class="button" type="submit">POST</button>
                </form>
                {%endif%}
            </div>
            <div id="comments-section">
                {% for comment in comments %}
                <div class="question" data-comment-id="{{ comment.id }}">
                    <div class="question-content">
                        <img src="{{ comment.user.profile.picture.url }}" alt="User Avatar" class="avatar">
                        <p>{{ comment.text }}</p>
                    </div>
                    <div class="actions">
                        <button class="reply-button" onclick="showReplyForm({{ comment.id }})">Reply</button>
                        <button class="view-replies-button" onclick="toggleReplies({{ comment.id }})">
                            View replies ({{ comment.replies.count }})
                        </button>
                    </div>
                    <div class="replies" style="display: none;">
                        {% for reply in comment.replies.all %}
                        <div class="reply">
                            <img src="{{ reply.user.profile.picture.url }}" alt="Replier" class="avatar">
                            <p>{{ reply.text }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="replyinput" id="replyinput-{{ comment.id }}" style="display: none;">
                        <div class="reply-form">
                            {% if user.is_authenticated %}
                            <img src="{{user.profile.picture}}" alt="" class="avatar">
                            <form id="reply-form-{{ comment.id }}" method="post" action="{% url 'add_comment' recipe.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <input type="text", name="text" placeholder="Add a reply..." class="reply-input">
                                <button class="post-reply" type="submit">Post</button>
                            </form>
                            {%endif%}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% comment %} <div class="reviews">
            <h2>Reviews</h2>
            <div class="review">
                <img src="{% if user.is_authenticated %}{{ user.profile.picture.url }}{% else %}{% static 'img/profile/default.png' %}{% endif %}" alt="Reviewer" class="avatar">
                <form method="post" action="{% url 'add_review' recipe.pk %}">
                    {% csrf_token %}
                    {{ review_form.as_p }}
                    {% if user.is_authenticated %}
                        <button type="submit" class="button-review">Submit</button>
                    {% else %}
                        <button type="button" class="button-review">SIGN IN</button>
                    {% endif %}
                </form>
            </div>
            <div class="reviews">
                {% for review in reviews %}
                <div class="review">
                    <img src="{{ review.user.profile.picture.url }}" alt="Reviewer" class="avatar">
                    <div class="review-content">
                        <p>{{ review.text }}</p>
                        <div class="review-rating">
                            {% for star in review.rating|times %}
                                <ion-icon name="star"></ion-icon>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div> {% endcomment %}


            {% if user.is_authenticated %}
            <div class="reviews">
                <h2>Reviews</h2>
                <div class="review">
                    <img src="{{ user.profile.picture.url }}" alt="Reviewer" class="avatar">
                    <form id="review-form-{{ review.pk }}" data-review-id="{{ review.pk }}" method="post" action="{% url 'add_review' recipe.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="rating" id="review-rating-{{ review.pk }}" value="0">
                        <input name="text" class="inputPlace" placeholder="Leave a review..."></input>
                        <div class="review-rating" id="star-rating-{{ review.pk }}">
                            <div class="stars">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>        
                              </div>
                              <!-- Changed input type to text to make it visible -->
                              <input type="text" id="rating-value" name="rating" value="0" style="display:none" />
                        </div>
                        <button type="submit" id="submit-review" class="button-review">Submit</button>
                    </form>
                </div>
            </div>
            {% endif %}
            

                <div class="show-reviews">
                    {% for review in reviews %}
                    <div class="show-review">
                        <img src="{{ review.user.profile.picture.url }}" alt="Reviewer" class="avatar">
                        <div class="review-content">
                            <p>{{ review.text }}</p>
                            <div class="review-rating">
                                {% for star in review.rating|times %}
                                    <ion-icon name="star"></ion-icon>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
    </div>


    <div class="video-fullview">
        <div class="close-btn"><ion-icon name="close-outline"></ion-icon></div>
        <div class="content">
            {% if recipe.video %}
                <video src="{{ recipe.video.url }}" controls></video>
            {% endif %}
        </div>
    </div>


    <div class="step-fullview">
        <div class="close-btn"><ion-icon name="close-outline"></ion-icon></div>
        <div class="content">
            <img class="stepPhoto" src="" alt="">
            <h3 class="stepNumber"></h3>
            <p class="stepText"></p>
        </div>
    </div>

    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            <div class="user-info">
                <h2>{{user.username}}</h2>
            </div>
            <hr>
            <a href="{% url 'myprofile' %}" class="sub-menu-link">
                <ion-icon name="person"></ion-icon>
                <p>My Profile</p>
                <span>></span>
            </a>
            <a href="{% url 'editprofile' %}" class="sub-menu-link">
                <ion-icon name="pencil"></ion-icon>
                <p>Edit Profile</p>
                <span>></span>
            </a>
            <a href="" class="sub-menu-link">
                <ion-icon name="cog"></ion-icon>
                <p>Settings</p>
                <span>></span>
            </a>
            <a href="{% url 'logout' %}" class="sub-menu-link">
                <ion-icon name="log-out"></ion-icon>
                <p>Logout</p>
                <span>></span>
            </a>
        </div>
    </div>
    <script>
        // Function to toggle the menu visibility
        function toggleMenu() {
            console.log('Profile icon clicked'); // Debugging log
            let subMenu = document.getElementById('subMenu');
            subMenu.classList.toggle('open-menu');
        }
        document.addEventListener('DOMContentLoaded', function() {
            // Select all expand buttons
            document.querySelectorAll('.expand').forEach(button => {
                button.addEventListener('click', () => {
                    // Get the data attributes from the clicked button
                    const stepNumber = button.previousElementSibling.getAttribute('data-step');
                    const photoUrl = button.previousElementSibling.getAttribute('data-photo');
                    const stepText = button.previousElementSibling.getAttribute('data-step-text');
    
                    // Update the full view content
                    const stepPhoto = document.querySelector('.step-fullview .stepPhoto');
                    const stepNumberElement = document.querySelector('.step-fullview .stepNumber');
                    const stepTextElement = document.querySelector('.step-fullview .stepText');
    
                    stepPhoto.src = photoUrl;
                    stepNumberElement.textContent = `Step ${stepNumber}`;
                    stepTextElement.textContent = stepText;
    
                    // Show the full view
                    document.querySelector('.step-fullview').style.display = 'block';
                });
            });
    
            // Close button for step full view
            document.querySelector('.step-fullview .close-btn').addEventListener('click', () => {
                document.querySelector('.step-fullview').style.display = 'none';
            });
        });
    </script>

    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/recipe_detail.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.reply-button').forEach(button => {
                button.addEventListener('click', () => {
                    const commentId = button.closest('.question').dataset.commentId;
                    const replyInputContainer = document.getElementById(`replyinput-${commentId}`);
                    replyInputContainer.style.display = replyInputContainer.style.display === 'none' ? 'block' : 'none';
                });
            });
        
            document.querySelectorAll('.view-replies-button').forEach(button => {
                button.addEventListener('click', () => {
                    const replies = button.closest('.question').querySelector('.replies');
                    replies.style.display = replies.style.display === 'none' ? 'block' : 'none';
                });
            });
        
            document.querySelectorAll('.post-reply').forEach(button => {
                button.addEventListener('click', (event) => {
                    event.preventDefault(); // Prevent the default form submission
                    const form = button.closest('form');
                    const replyInput = form.querySelector('input[name="text"]');
                    const replyText = replyInput.value;
        
                    if (replyText) {
                        form.submit(); // Submit the form if the reply text is not empty
                    }
                });
            });
            const stars = document.querySelectorAll(".stars ion-icon");

// Loop through the "stars" NodeList
stars.forEach((star, index1) => {
  // Add an event listener that runs a function when the "click" event is triggered
  star.addEventListener("click", () => {
    // Loop through the "stars" NodeList Again
    stars.forEach((star, index2) => {
      // Add the "active" class to the clicked star and any stars with a lower index
      // and remove the "active" class from any stars with a higher index
      index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
    });
  });
});
        });
        
     
        
           
    </script>
</body>
</html>
